@font-face {
    font-family: 'FRADM';
    /*
    src: url('fonts/FRADM.eot');
    src: local('☺'), url('fonts/FRADM.woff') format('woff'), url('fonts/FRADM.ttf') format('truetype'), url('fonts/FRADM.svg') format('svg');
*/

    src: url('fonts/FRADM.eot?') format('embedded-opentype'),
    url('fonts/FRADM.woff') format('woff'),
    url('fonts/FRADM.ttf')  format('truetype'),
    url('fonts/FRADM.svg#FRADM') format('svg');

}
@font-face {
    font-family: 'Conv_Langdon';
    src: url('fonts/Langdon.eot');
    src: local('☺'), url('fonts/Langdon.woff') format('woff'), url('fonts/Langdon.ttf') format('truetype'), url('fonts/Langdon.svg') format('svg');

}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    list-style: none;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	
}
body, html{
    height: 100%;
}
:focus{
	outline:none;
}
ol, ul {
	list-style: none;
}
.clear{
	clear:both;
}
a{
  color: #fff;
    text-decoration: none;

}
html{
    font-family: arial;
    font-size: 14px;
    color:#fff;
    overflow: hidden;
    overflow-x:hidden;
    overflow-y:hidden;
    }
.main{
    height: 100%;
    color: #fff;

}
.triangle{
    height: 356px;
    width: 164px;
    /*position: absolute;*/
    position: fixed;
    z-index: 1;

}
/*
.anglePic{
    position: absolute;
}
.triangle.left .anglePic{
    height: 164px;
    width: 356px;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
    top: 96px;
    left: -99px;
}
.anglePicLeft{
    width: 100px;
    height: 100px;
    left: 50%;
    margin-left: -70px;
    margin-top: -50px;
    position: relative;
    top: 50%;
}
.triangle.top .anglePic{
    height: 164px;
    width: 356px;
    top: -2px;
}

.anglePicTop{
    left: 50%;
    margin-left: -40px;
    margin-top: -52px;
    position: relative;
    top: 50%;

    width: 80px;
    height: 80px;
}

.triangle img{
    position: absolute;
    z-index: 2;
    top:50px;
    left: 150px;
}
.triangle::after{
    content: '';
    position: absolute;
    border: 178px solid transparent;
}
*/
.triangle.top, .triangle.bottom{
    width: 356px;
    height: 164px;
    left: 50%;
    margin-left: -178px;
}
.triangle.top{
    /*top:-30px;*/

    background: url("../images/top.png")no-repeat;
    /*border-top: 30px solid #fff;*/
    background-size: 100%;
}
/*
.triangle.top::after{
    border-top: 164px solid #000;
}
*/
.triangle.bottom{
    /*bottom:-30px;*/
    /*background: url("../images/angleBottom.png")no-repeat;*/
    /*border-bottom: 30px solid #fff;*/
    bottom:0;

    background: url("../images/bottom.png") no-repeat center bottom;
    background-size: 100%;
}
/*
.triangle.bottom .anglePic{
    height: 164px;
    width: 356px;
    -webkit-transform: rotate(180deg)!important;
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(180deg);
    bottom:0;
}
.anglePicBottom{
    width: 130px;
    height: 130px;
    left: 50%;
    margin-left: -65px;
    margin-top: -50px;
    position: relative;
    top: 50%;
}
.triangle.bottom::after{
    border-bottom: 164px solid #000;
    bottom: 0;
}
*/
.triangle.right, .triangle.left{
    top:50%;
    margin-top: -181px;
    height: 362px;
}
.triangle.right{
    /*right: 106px;*/
    right:0;
    background: url("../images/right.png") no-repeat right center;
    /*border-right: 30px solid #fff;*/
    position: fixed;
    background-size: 100%;
}
/*
.triangle.right .anglePic{
    height: 164px;
    width: 356px;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(90deg);
    top: 96px;
    left: 11px;
}
.anglePicRight{
    width: 120px;
    height: 100px;
    margin-left: 140px;
    margin-top: -50px;
    position: relative;
    top: 50%;
    left: 0;
}
.triangle.right::after{
    border-right: 164px solid #000;
    right: 0;
}
*/
.triangle.left{
    /*left: -30px;*/
    background: url("../images/left.png")no-repeat left center;
    /*border-left: 30px solid #fff;*/
    background-size: 100%;
}
/*
.triangle.left::after{
    border-left: 164px solid #000;
}
*/
.center{
    position: absolute;
    top:50%;
    margin-top: -130px;
    width: 260px;
    height: 260px;
    background: url("../images/AS1.png") no-repeat;
    background-size: cover;
    margin-left: -130px;
    left: 50%;
}
/*356 х 163*/
.header{
    position: absolute;
    color: #000;
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Conv_Langdon';
    font-size: 50px;
    letter-spacing: 5px;
}
.header span{
    display: none;
}
.header span.visible{
    display: block;
}
.header.topLeft{
    top:30px;
    left:30px;
}
.header.topRight{
    top:30px;
    right:30px;
}
.header.bottomLeft{
    bottom:30px;
    left:30px;
}
.header.bottomRight{
    bottom:30px;
    right:30px;
}

.button{
    position: absolute;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    background-color: #000;
    /*width: 212px;*/
    text-align: center;
    /*height: 50px;*/
    /*line-height: 50px;*/
    font-family: "FRADM";
    /*font-size: 30px;*/

    /*height: 40px;*/
    height: 28px;
    /*line-height: 40px;*/
    line-height: 28px;
    /*width: 170px;*/
    width: 158px;
    font-size: 25px;
    display: block;
    border: solid #000;
    border-width: 6px;
}
.button:hover{
    /*color: #000;*/
    /*background: #fff;*/
    /*width: 158px;*/
    /*height: 28px;*/
    border: 6px solid #000;
    /*line-height: 28px;*/
}
.button.top, .button.social{
    left:50%;
}
.button.top{
    /*top:211px;*/
    /*top:25%;*/
    /*margin-top: 14px; *//* -260/2+164-50/2 */
    margin-left: -85px;
}
.button.social{
    background: 0;
    color: #000;
    /*bottom:211px;*/
    width: 300px;
    height: 29px;
    /*background: url("../images/social.png") no-repeat;*/
    margin-left: -150px;
    left: 50%;
    border: 0;
    bottom:0;
    margin-bottom: 15px; /* -260/2+164-29/2 */
    /* -260/2+164-212/2 */
}
.button.social:hover{
    border: none;
    background: 0;
}
.social a:first-child{
    margin-left: 0;
}
.social a:first-child img{
    margin-left: 0;
    /*max-width: 40px;*/
}
.social a{
    margin-left: 15px;
    display: block;
    float: left;
    height: 29px;
    width: 29px;

}
.social a:hover{
    /*opacity: 0.75;*/
}
.social img{
    /*
    max-height: 29px;
    max-width: 29px;
    */
    height: 29px;
    width: 29px;
    vertical-align: top;
}
/*
.safari .social a:first-child img{
    max-width: none;
}
.safari .social img{
    max-width: none;
    max-height: none;
}
.safari .social a {
    display: inline-block;
    width: 29px;
}
*/
.social a:first-child {
    width: 34px;
}
.button.right, .button.left{
    top:50%;
    margin-top: -20px;
}
.button.right{
    /*right:254px;*/
    right:25%;
    margin-right: -51px;/* -260/2+164-212/2 */


}
.button.right.active{
    z-index: 1003;
    color: #000;
    background: #fff;
    width: 158px;
    height: 28px;
    border: 6px solid #eaeaea;
    line-height: 28px;
    cursor: default;
}
.button.left{
    /*left:254px;*/
    left:25%;
    margin-left: -51px; /* -260/2+164-212/2 */
}

.button.left:hover .hoverLine{
    /*margin-top: 0px;*/
    /*border-bottom: 1px solid #000;*/
    /*top:11px;*/
}
.hoverLine{
    position: absolute;
    background: #000;
}
.button.left .hoverLine{
    width: 1000px;
    height: 6px;
    top: 50%;
    /*top:17px;*/
    margin-top: -3px;
    left: -1000px;
    display: block;
}





.block {
    background: green;
    border-radius: 10px;
    padding: 20px;
    position: relative;
    color: #fff;
}
.block::after {
    content: '';
    position: absolute; /* Абсолютное позиционирование */
    left: 20px; bottom: -20px; /* Положение треугольника */
    border: 10px solid transparent; /* Прозрачные границы */
    border-top: 10px solid green; /* Добавляем треугольник */
}

#sign_up {
    /*
    background: #000;
    padding: 14px 22px;
    width: 350px;
    height: 320px;
    position: relative;

    box-shadow: 0 0 20px #696969;
    border: 1px solid #fff;
    border-radius: 10px;
    */
    display: none;
}
#close_x {
    /*
    width:30px; height:30px;
    overflow: hidden; line-height: 1000px;
    display: block;
    position: absolute;
    right: -25px;
    top: -25px;
    background: url("../images/close.png") no-repeat;
    */
}
.formHeader{
    text-align: center;
    font-family: 'FRADM';
    font-size: 25px;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.formHeader .phone{
    color: #000!important;
}
a { text-decoration:none; color: #000; }

.formHeader span{
    letter-spacing: 4px;
}
.emailLink{
    text-decoration: underline;
    color: #000;
}

/*  TABLET  : 1024px */
@media only screen and ( max-width: 1024px ){
}
/* TABLET  : 768px */
@media only screen and (max-width: 985px) and (min-width: 768px){
}

/*  Phone  : 480px */
@media only screen and (max-width: 767px) and (min-width: 480px){

}
/* Phone  : 320px */
@media only screen and (min-width: 1px) and (max-width: 479px) {

    .triangle.top{
        width: 100%!important;
        left:0!important;
        /*margin-left: -150px!important;*/
        /*height: 219px!important;*/
        /*background-position: top center;*/
        /*height: 136px;*/
        margin-left: 0;
    }
    .triangle.bottom{
        /*margin-left: -16%!important;*/
        background: url("../images/bottomS.png")bottom center no-repeat!important; /* center */
    }
    .triangle.top,.triangle.bottom{


    }
    .triangle.bottom,.triangle.right,.triangle.left{
        bottom:0!important;
        width: 33%!important;
        /*height: 73px!important;*/
        background-size: 100%!important;
    }
    .triangle.right,.triangle.left{
        margin-top: 0!important;
        top:inherit!important;
    }
    .triangle.right{
        left:0;
        background: url("../images/rightS.png")bottom center no-repeat!important; /* left */
        margin-top: 0!important;
        background-size: 100%!important;
    }
    .triangle.left{
        right:0;
        background: url("../images/leftS.png")bottom center no-repeat!important; /* right */
        background-size: 100%!important;
    }
    .button{
        width: 100%;
        left: 0!important;
        margin-left: 0!important;
        position:fixed; /*Чтоб небыло скролинга на мобильном*/

        /*height: 35px!important;*/
        /*line-height: 35px!important;*/
    }
    .button.top{
        top: 50%;
        /*margin-top: -115px;*/
    }
    .button.social{
        width: 270px!important;
        margin-left: -135px!important;
        left: 50%!important;
        /*margin-bottom: 60px!important;*//*-90*/
        bottom:0;
        margin-bottom: 100px;
    }
    .social a{
        margin-left: 10px;
    }
    .button.left{


    }
    .button.right{
        /*margin-top: 75px;*/
    }
    .button.right.active{
        z-index: 1;
        color: #fff;
        background: #000;
        width: 100%;
        height: 56px;
        border: 6px solid #000;
        line-height: 56px;
        cursor: pointer;
    }
    .center{
        display: none;
    }
    .header{
        font-size: 20px;
        letter-spacing: 2px;
        position:fixed; /*Чтоб небыло скролинга на мобильном*/
    }
    .header.topLeft{
        /*top:130px;*/
        left: 8px;
    }
    .header.topRight{
        /*top:130px;*/
        right: 8px;
        text-align: right!important;
    }
    .header.bottomLeft{
        display: none;

    }
    .header.bottomRight{
        display: none;

    }
    .header span{
        display: block;
    }
    .header span.visible{
        display: none;
    }
}
@media only screen and (max-width: 985px) and (min-width: 320px){

}